@page "/"
<link href="css/mechanic.css" rel="stylesheet" />

<PageTitle>Mechanic Web app</PageTitle>

<h1>🛠️ Mechanic Workshop Manager</h1>
    <div class="container mt-5 text-light">

        <h2 class="display-4 mb-3 text-warning">
            About:
        </h2>

    <p class="fs-1 text-light-emphasis mb-4 justify-content-center">
        A web app to help car mechanics manage client records and vehicle repair tasks efficiently.
        Monitor job progress, update work data, and keep your workshop efficient and up to date.
    </p>
</div>

